*.swp
.*.swp
*~
.*~
*.txt
*.notes
*.discussion
*.index
*.cache
*.fileextension
*.xkcd
*.com
*.org
*.net
# Look, we can't be too safe, right?
*.skynet
*.emacs.d
*.vimrc
*.gvimrc
*.atom.config
*.nanorc
*.%gconf.xml
*.ed
*.cat
*.dog
*.hamster
*.hamsterball
*.tamagotchi
*.robothamster
*.snake
*.camel
# Just in case.
*.skynet
*.butterfly
*.frog
*.cosmicrays
*.universalconstants
*.chemists
*.biologists
*.mathmaticians
*.children
*.adults
*.liberal-artsmajors
